/* 改变主题色变量 */
$--color-primary: #ed5634;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
/*chrome extension url*/
$--extension-url:'chrome-extension://knkjggfoefcejcppkeinpojgoolnejeg';

@import "~element-ui/packages/theme-chalk/src/index";
@font-face {
  font-family: 'element-icons';
  src: url('#{$--extension-url}/element-icons.woff') format('woff'), /* chrome, firefox */
  url('#{$--extension-url}/element-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-style: normal
}